button{
    display: inline-block;
    width: 110px;
    color:black;
    background-color: blanchedalmond;
    border: none;
    margin-left: 50%;
    margin-bottom: 5%;
    
}
h3{
    display: inline;
}
.tab{
    border: black;
    border: 2px solid;
    text-align: center;
    
     
   
}
table th td{
    padding: 10%;

}

.btn{
    margin: center;
    color: li;
    
}